span{
    color: #3b4146;
}

a{
    transition: backgroung-color 0.5;
}

a:hover{
    background-color: white;
}

li {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}