<div class="" style="background-color: #d3e6f7;">
    <ul class="nav nav-pills flex-column mt-4">
        <li class="nav-item  py-sm-0 mt-2">
            <a [routerLink]="['/']" class="nav-link">
                <i class="fs-6 fa fa-house" style="color: #3b4146;"></i><span
                    class="fs-5 d-none ms-2 d-md-inline">Inicio</span>
            </a>
        </li>
        <li class="nav-item py-2 py-sm-0 mt-2" *ngIf="login.getUserRole() == 'ROLE_DOCTOR'">
            <a [routerLink]="['/profile-doctor']" class="nav-link text-black">
                <i class="fs-6 fa-solid fa-user" style="color: #3b4146;"></i><span
                    class="fs-5 d-none ms-3 d-md-inline">Perfil</span>
            </a>
        </li>
        <li class="nav-item py-2 py-sm-0 mt-2" *ngIf="login.getUserRole() == 'ROLE_PATIENT'">
            <a [routerLink]="['/profile-patient']" class="nav-link text-black">
                <i class="fs-6 fa-solid fa-user" style="color: #3b4146;"></i><span
                    class="fs-5 d-none ms-2 d-md-inline">Perfil</span>
            </a>
        </li>
        <li class="nav-item py-2 py-sm-0 mt-2" *ngIf="login.getUserRole() == 'ROLE_DOCTOR'">
            <a [routerLink]="['/messages']" class="nav-link text-black">
                <i class="fs-6 fa fa-message" style="color: #3b4146;"></i><span
                    class="fs-5 d-none ms-2 d-md-inline">Mensajes</span>
            </a>
        </li>
    </ul>
</div>