<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6">
            <div class="card bg-white text-dark mx-auto mt-5 register mb-5">
                <div class="card-header bg text-center card-h">Inicia sesión</div>
                <div class="card-body">
                    <form (ngSubmit)="formSubmitLogin()">
                        <div class="form-group row mt-4 mx-auto">
                            <label for="email" class="col-form-label col-md-12 col-lg-3 text-center">Email</label>
                            <div class="col-md-12 col-lg-8">
                                <input type="text" id="email" name="email" class="form-control"
                                    [(ngModel)]="loginData.email">
                            </div>
                        </div>

                        <div class="form-group row mt-4 mx-auto">
                            <label for="password"
                                class="col-form-label col-md-12 col-lg-3 text-center">Contraseña</label>
                            <div class="col-md-12 col-lg-8">
                                <input type="password" id="password" name="password" class="form-control"
                                    [(ngModel)]="loginData.password">
                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            <div class="col-12">
                                <p class="text-danger text-center" *ngFor="let e of errors">{{e}}</p>
                            </div>
                        </div>

                        <div class="form-group row mt-4 justify-content-center">
                            <div>
                                <button class="btn btn-primary mx-auto d-block col-md-8 col-lg-4">Iniciar
                                    sesión</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>