.bordes{
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #80808144;
}

h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card-h{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.a{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}