.nav-pills li a:hover{
    background-color: blue;
}

.bg-table{
    background-color: #edf2f5cb;
}

.bg-head{
    background-color: #d3e6f7;
}

.notMessages{
    border-radius: 80px;
    background-color: #aec4c921;
}