.footer{
    background-color: #d3e6f7;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

span {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fot{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}