<div class="container-fluid">
    <div class="row flex-nowrap">   
        <div class="col-auto min-vh-100 d-flex flex-column justify-content-between" style="background-color: #d3e6f7;">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col text-center mb-5">
            <div class="form-group row mt-5 mx-auto justify-content-center">                                    
                <div class="col-6 col-md-4 col-lg-3 text-center mt-2">
                    <img class="photo" *ngIf="user?.photo" src="http://localhost:8080/api/doctors/view/img/{{user.photo}}" alt="profile_picture" width="150px" height="150px">
                    <img class="photo" *ngIf="!user?.photo" src="../../../../../assets/perfil.jpg" alt="profile_picture" width="200px" height="200px">
                    <div class="input-group mb-3 mt-4">
                        <input (change)="selectImage($event)" type="file" class="form-control" id="inputGroupFile02">
                    </div>   
                    <div class="input-group-append">
                        <button [disabled]="!selectImage" (click)="uploadImage()" class="btn btn-outline-secondary" type="button" id="inputGroupFile02">Subir foto</button>
                    </div> 
                </div>
            </div>
            <form>                                
                <div class="form-group row mt-4 mx-auto justify-content-center">
                    <label for="firstname" class="col-form-label col-12">Nombre</label>
                    <div class="col-lg-6">
                        <input type="text" id="firstname" name="firstname" class="form-control" [(ngModel)]="user.firstname">
                    </div>
                    <div *ngFor="let err of errors">
                        <div class="col-lg-12" *ngIf="errors?.length">
                            <div *ngIf="err.includes('nombre')">
                                <p class="text-danger text-center">{{err}}</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="form-group row mt-4 mx-auto justify-content-center">
                    <label for="lastname" class="col-form-label col-12">Apellido</label>
                    <div class="col-lg-6">
                        <input type="text" id="lastname" name="lastname" class="form-control" [(ngModel)]="user.lastname">
                    </div>
                    <div *ngFor="let err of errors">
                        <div class="col-lg-12" *ngIf="errors?.length">
                            <div *ngIf="err.includes('apellido')">
                                <p class="text-danger text-center">{{err}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="form-group row mt-4 mx-auto justify-content-center">
                    <label for="phone" class="col-form-label col-12">Teléfono</label>
                    <div class="col-lg-6">
                        <input type="text" id="phone" name="phone" class="form-control" [(ngModel)]="user.phone">
                    </div>                    
                </div>

                <div class="form-group row mt-4 mx-auto justify-content-center">
                    <label for="s" class="col-form-label col-12">Especialización</label>
                    <div class="col-lg-6">
                        <select class="form-select" id="s" name="s" aria-label="Default select example" [(ngModel)]="user.specialty">
                            <option selected>Elige tu especialización...</option>
                            <option *ngFor="let s of specialties" [ngValue]="s">{{s}}</option>                            
                        </select>
                    </div>
                </div>
        
                <div class="form-group row mt-5 justify-content-center"> 
                        <button class="btn btn-primary mx-auto d-block col-4 col-md-3 col-lg-3" (click)="updateUser()">Guardar cambios</button>                                    
                </div>
            </form>
        </div>
    </div>
</div>